@media (max-width: 799px) and (min-width: 500px) {
  .home-container {
    padding: 0px;
    margin-top: 0px;
    /* display: flex;
      align-items: center;
      justify-content: center; */
  }
}

@media (max-width: 499px) {
  .home-container {
    padding: 10px 0px 0px 0px;
    margin-top: 40px;
    /*display: flex;
      align-items: center;
      justify-content: center; */
  }
  body {
    padding-top: 0px !important;
  }
}

.section-heading {
  width: 100%;
  min-height: 30px;
  margin: 0px;
  padding: 10px;
  background-color: #eceffb;
}

.container-date-picker {
  background-color: white;
  padding: 10px 0 0 0;
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.container-date-picker h2 {
  margin: 0;
}

.container-date-picker .pt-button[class*='pt-icon-chevron-left']::before,
.container-date-picker .pt-button[class*='pt-icon-chevron-right']::before {
  font-size: 32px;
  color: #575e66;
}

.calendar-filters-container {
  display: none;
}

.form-container-home {
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 560px;
  width: 100%;
  max-width: 748px;
  padding: 0px;
  margin: 0 20px 20px 0;
  float: left;
}

.form-container-home h1 {
  padding: 0 0 0 4%;
  white-space: nowrap;
}

.row {
  background-color: #ffffff;
  min-height: 35px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  /* border: solid black 1px; */
}

.left {
  float: left;
}

.right {
  float: right;
}

.addUmpire-Button {
  background-color: #00cc33;
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #666666;
}

.calendar-mobile-row {
  background-color: #ffffff;
  min-height: 55px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border: solid black 1px;
  margin: 0px;
  float: left;
}

.left-calendar-mobile {
  margin: 0px;
  padding: 0px;
  max-width: 325px;
  float: left;
}

.right-calendar-mobile {
  margin: 0px;
  padding: 0px;
  float: right;
}
