.coaches-list-container {
  max-width: 1065px;
  margin: 20px auto;
}

.coaches-list-container .report-list-table-header h1 {
  font-size: 26px;
  margin-bottom: 0;
}

.coaches-list th,
.coaches-list td {
  width: 20%;
  min-width: 210px;
}
