.comboBoxSearch-container {
  width: 250px;
  margin: 0 7px 0 5px;
}

.mobile-comboBoxSearch-container {
  min-width: 200px;
  margin: 0 24px 0 8px;
}

.Select-option .select-option-custom-container {
  color: #575e66;
  font-size: 14px;
  font-weight: 400;
}

.Select-option.is-focused .select-option-custom-container {
  color: #575e66;
  font-size: 14px;
  font-weight: 400;
}
.Select-placeholder {
  font-weight: 400;
}
