.error-dialog {
	min-height: 150px;
	min-width: 150px;
	display: flex !important;
	flex-direction: column !important;
	align-content: baseline;
	justify-content: space-between;
	margin: 0 !important;
	padding: 0;
}

.error-title {
	font-size: 20px;
	margin: 10px 0 0 40% !important;
	padding: 0;
}

.error-content {
	margin: 10px 0 0 4% !important;
	padding: 2px;
	font-size: 18px;
}

.close-error-dialog {
	padding: 2px;
	margin: 0;
	margin: 10px 0 0 80% !important;
}