.game-umpires-container {
  display: flex;
  flex: 0.65;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid #10161a26;
  padding: 0 1% 0 1%;
  margin: 0 2% 0 0;
  width: 100%;
}

.game-umpires-container h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  margin: 0 2px 0 2px;
  min-width: 50px;
}

.umpPlate-container,
.umpBase1-container,
.umpBase2-container,
.umpBase3-container {
  width: 100%;
  margin: 4px 0 4px 0;
}

.umpPlate-container .umpPlate-innerContainer,
.umpBase1-container .umpBase1-innerContainer,
.umpBase2-container .umpBase2-innerContainer,
.umpBase3-container .umpBase3-innerContainer {
  flex: 0.7;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.umpPlate-container .umpPlate-innerContainer button,
.umpBase1-container .umpBase1-innerContainer button,
.umpBase2-container .umpBase2-innerContainer button,
.umpBase3-container .umpBase3-innerContainer button {
  margin: 0 0 0 6px;
  max-height: 30px;
  min-width: 70px;
}

.ump-name {
  flex: 0.3;
  padding: 6px 0;
  margin: 6px 5px 0px 5px;
  min-width: 250px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.button-placeholder {
  margin: 0 0 0 6px;
  height: 30px;
  width: 60px;
}
