.report-list-table-header {
	justify-content: space-between !important;
}

.games-list-container {
  max-width: 900px;
  margin: 20px auto;
}

.games-list-container .report-list-table-header h1 {
  font-size: 26px;
  margin-bottom: 0;
}

.games-list th,
.games-list td {
  width: 20%;
  min-width: 210px;
}

.ump-available {
	width: 50%;
	padding: 0;
	margin: 0;
}

.ump-available h3 {
	font-size: 14px;
	padding: 14px 0 0 0;
	margin: 0;
	float: left;
	width: 100px;
}

.ump-available-input {
	margin: 0;
	padding: 0;
	width: 48px;
	height: 40px;
}

.game-date-location-container {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  margin: 0 2% 0 5%;
  padding: 1% 0 1% 1%;
  width: 100%;
  white-space: nowrap;
}

.game-date-location-container h3 {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: left;
}

.game-division-teams-container {
  display: flex;
  flex: 0.33;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 1px solid #10161a26;
}

.game-division-teams-container h3 {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}

.games-filter-dialog .pt-dialog-header h5 {
  color: #575e66;
}

.game-filters-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 0.6;
  margin: 0 2% 6px 0;
}

.game-filters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 30px 30px 60px;
}

.game-filters-container label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  height: 50px;
}

.game-filters-container label.pt-label.pt-inline.date-range {
  height: 100%;
}

.game-filters-container label.pt-label.pt-inline > span,
.game-filters-container label.pt-label.pt-inline > select.pt-input,
.game-filters-container label.pt-label.pt-inline > input,
.game-filters-container label.pt-label.pt-inline .comboBoxSearch-container {
  margin-left: 15px;
}

.game-filters-container label .pt-popover-target {
  vertical-align: middle;
}

.game-filters-container .umpire-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.game-filters-container .dialog-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.game-filters-container .Select-placeholder {
  color: #575e66;
  font-size: 14px;
}

.game-filters-container .Select-value .Select-value-label {
  color: #575e66 !important;
  font-size: 14px;
}

.filter-objects {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: flex-start;
}