@media (max-width: 799px) and (min-width: 500px) {
  .home-mobile-container {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
}

@media (max-width: 499px) {
  .home-mobile-container {
    padding: 10px 0px 0px 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  body {
    padding-top: 0px !important;
  }
}

.home-mobile-container .section-heading {
  width: 100%;
  min-height: 30px;
  margin: 0px;
  padding: 5px;
  background-color: #fff;
  border-bottom: 2px solid #575e66;
}

.home-mobile-container .section-heading .section-title{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  padding: 10px 8px 10px 8px;
  margin: 0;
  width: 100%;
}

.home-mobile-container .section-heading .section-title h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 6px 0 0 0;
  padding: 0;
}

.home-mobile-container .section-heading .section-title select {
  margin: 0;
  padding: 0;
}

.home-mobile-container .form-container-home-upcoming-games,
.home-mobile-container .form-container-my-upcoming-games {
  flex: 0.35;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: 10px;
  overflow: hidden;
}

.notActive{
  display:none;
}

.home-mobile-container .form-container-home-game-details {
  flex: 0.55;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  overflow: visible;
}

.home-mobile-container .mobile-games-container {
  max-height: 600px;
  width: 100%;
  overflow: scroll;
  padding-bottom: 30px;
}

.home-mobile-container .row {
  background-color: #ffffff;
  min-height: 35px;
  width: 100%;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #10161a26;
}

.form-container-home-upcoming-games .load-additional-games-container {
  width: 100%;
  height: 30px;
  padding-top: 3px;
  padding-bottom: 10px;
}

.mobile-game-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 70px;
  margin: 0px;
  padding: 0px;
}

.row .mobile-game-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mobile-game-info-container h3 {
  font-size: 14px;
  margin: 0px;
  width: 100%;
}

.mobile-row-container{
  min-height: 85px;
  width: 100%;
  padding: 5px;
  margin: 0px;
}

.mobile-empty-table{
  padding: 0;
  margin: 14px 0 0 0;
  font-size: 20px;
}

.home-mobile-container .left {
  float: left;
}

.home-mobile-container .right {
  float: right;
}

.mobile-game-details-container {
  height: 100%;
}

.mobile-game-details-container .row {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mobile-game-details-container h3 {
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}

.mobile-game-details-container span.ump-name {
  padding: 10px;
  font-size: 16px;
  font-weight: 800;
}

.home-mobile-row {
  background-color: #ffffff;
  min-height: 55px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  /* border: solid black 1px; */
  margin: 0px;
  float: left;
}

.left-home-mobile {
  margin: 0px;
  padding: 0px;
  max-width: 325px;
  float: left;
}

.right-home-mobile {
  margin: 0px;
  padding: 0px;
  float: right;
}

.row-date {
  padding-top: 8px;
  min-height: 70px;
  width: 5%;
  float: left;
}
.row-date h2{
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  float: left;
}

.row-date h4{
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  float: left;
}

.mobile-row-blue{
  /* margin: 2% 2% 2% 2%;  */
  background-color: #ffffff;
  min-height: 70px;
  width: 85%;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #10161a26;
  border-top: 1px solid #10161a26;
  border-right: 1px solid #10161a26;
  border-left: 10px solid rgb(31, 74, 108);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  float: right;
}

.mobile-row-yellow{
  /* margin: 2% 2% 2% 2%;  */
  background-color: #ffffff;
  min-height: 70px;
  width: 85%;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #10161a26;
  border-top: 1px solid #10161a26;
  border-right: 1px solid #10161a26;
  border-left: 10px solid #f8bc2e;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  float: right;
}

.mobile-row-red{
  /* margin: 2% 2% 2% 2%;  */
  background-color: #ffffff;
  min-height: 70px;
  width: 85%;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #10161a26;
  border-top: 1px solid #10161a26;
  border-right: 1px solid #10161a26;
  border-left: 10px solid #db3737;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  float: right;
}

.sub-row{
  min-width: 360px;
  float: left;
  margin: 0px;
  padding: 0px;
  min-height: 35px;
}

.sub-row h3 {
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  margin: 0px 0px 10px 10px;
  width: 100%;
  float: left;
  text-align: left;
}

.sub-row h4 {
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  width: 100%;
  float: left;
  text-align: left;
}

.sub-row span{
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  width: 100%;
  float: left;
  text-align: left;
  color:rgb(31, 74, 108);
}

.row-game-details{
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #ffffff;
    min-height: 35px;
    min-width:  50px;
    /* width: 100%; */
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid #10161a26;
}

.row-game-details h3{
  width: 60px;
}

.profile-page-add-button {
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.add-game-button{
  float: right;
  background-color: #617fde;
  color: white;
  border: 1px solid #10161a26;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


