.home-container {
  margin: 10px;
  /* min-height: 250px;
  height: 40vh;*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-container .main-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0.6;
  margin: 0 10px 0 0;
}

.home-container .side-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0.4;
  margin: 0 0 0 10px;
  float: left;
}

.home-container .games-container {
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 835px;
  width: 100%;
  max-width: 900px;
  min-width: 600px;
  padding: 0;
  margin: 10px;
}

.home-container .table-header #homeSelectTab {
  font-size: 32px;
  text-align: left;
  flex: 0.4;
}

.home-container .table-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 2px solid #575e66;
}

.games-container .pt-tab {
  color: #575e66;
}

.games-container .hide {
  display: none;
  height: 0px;
}

/* .pt-dialog.games-filter-dialog {
  width: 500px !important;
} */

.games-filter-dialog .pt-dialog-header h5 {
  color: #575e66;
}

.game-filters-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 0.6;
  margin: 0 2% 6px 0;
}

.game-filters-clear-btn {
  margin: 10px 0 0 80%;
}

.game-filters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 30px 30px 60px;
}

.game-filters-container label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  height: 50px;
}

.game-filters-container label.pt-label.pt-inline.date-range {
  height: 100%;
}

.game-filters-container label.pt-label.pt-inline > span,
.game-filters-container label.pt-label.pt-inline > select.pt-input,
.game-filters-container label.pt-label.pt-inline > input,
.game-filters-container label.pt-label.pt-inline .comboBoxSearch-container {
  margin-left: 15px;
}

.game-filters-container label .pt-popover-target {
  vertical-align: middle;
}

.game-filters-container .umpire-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.game-filters-container .dialog-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.game-filters-container .Select-placeholder {
  color: #575e66;
  font-size: 14px;
}

.game-filters-container .Select-value .Select-value-label {
  color: #575e66 !important;
  font-size: 14px;
}

.home-container .table {
  height: 70vh;
  overflow-x: auto;
  overflow-y: scroll;
}

.home-container .table .row {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #10161a26;
  margin: 14px 0 0 0;
  width: 100%;
}

.game-date-location-container {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  margin: 0 2% 0 5%;
  padding: 1% 0 1% 1%;
  width: 100%;
  white-space: nowrap;
}

.game-date-location-container h3 {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: left;
}

.game-division-teams-container {
  display: flex;
  flex: 0.33;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 1px solid #10161a26;
}

.game-division-teams-container h3 {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}

.empty-table {
  padding: 30% 32% 29% 28%;
  margin: 0;
  font-size: 22px;
}

.checkbox-display-full-games {
  padding: 2px;
  margin: 0;
}

.checkbox-display-full-games input {
  padding: 2px;
  margin: 0;
}

.checkbox-display-full-games label {
  padding: 2px;
  margin: 0;
}

.filter-objects {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: flex-start;
}

.my-game-numbering {
  padding: 0;
  margin: 6px 0 0 20px;
  font-size: 16px;
}

@media (max-width: 999px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .home-container .main-col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
  }

  .home-container .side-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
  }

  .home-container .side-col .side-col-tuple {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
  }

  .home-container .games-container {
    width: 750px;
  }
}
