@media (min-width: 800px) {
  .login-container {
    padding: 20px;
    margin: 5px 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 799px) and (min-width: 500px) {
  .login-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 499px) {
  .login-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    padding-top: 0px !important;
  }
}

.sign-in-header h2 {
  color: #333333;
}

.form-container {
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 350px;
  width: 500px;
  padding: 40px 40px 20px 40px;
}

.login-header {
  padding-bottom: 40px;
}

.login-inputs {
  border-style: none none solid none;
  width: 100%;
  height: 50px;
}

.login-error {
  min-height: 40px;
  padding: 5px 0px;
}

.login-error p {
  color: #db3737;
  font-size: 16px;
  font-weight: bolder;
}

.submit-btn-container {
  padding: 20px 0px;
}

.submit-button-blue {
  background-color: #216296;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0px solid #1c0000;
}
.login-links {
  width: 100%;
  height: 40px;
}
.login-forgot-password a {
  float: left;
  font-weight: 600;
  color: #999999;
}
.login-create-account a {
  float: right;
  font-weight: 600;
  color: #999999;
}

.login-footer {
  height: 30px;
  width: 100%;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}

.login-footer a {
  text-align: center;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  color: #999999;
}
