div.members-list-container {
  max-width: 1070px;
  margin: 20px auto 20px auto;
}

.members-list-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.members-list-container .report-list-table-header h1 {
  font-size: 26px;
  margin: 0;
}

.members-list-container table th.large,
.members-list-container table td.large {
  width: 18%;
}

.members-list-container table th.small,
.members-list-container table td.small {
  width: 13%;
}

.members-list-container table th.xsmall,
.members-list-container table td.xsmall {
  width: 5%;
}

.pt-button.pt-minimal.member-table-edit {
  color: #216296;
  font-weight: 600;
}

.pt-button.pt-minimal.member-table-edit:hover {
  color: #216296;
  font-weight: 600;
  background: none;
  text-decoration: underline;
}

.members-table-dialog .pt-dialog-header h5 {
  color: #575e66;
}

.members-table-dialog .pt-dialog-body {
  padding-left: 20px;
}

.members-table-dialog label {
  height: 50px;
}

.members-table-dialog label.pt-label.pt-inline input.pt-input {
  margin-left: 10px;
}

.members-table-dialog label.pt-label.pt-inline label.pt-control {
  display: inline;
  margin-left: 10px;
}

.members-table-dialog .dialog-btn-container button.pt-button {
  background: #216296;
  color: #fff;
}
