.mentor-mentee-card-container {
  min-width: 300px;
  width: 364px;
  max-width: 364px;
  min-height: 280px;
  margin: 10px;
}

@media (max-width: 499px) {
  .mentor-mentee-card-container {
    margin-top: 65px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
  }
}
