.mentor-container {
  min-height: 265px;
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.mentor-container .header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  height: 60px;
  border-bottom: 2px solid #575e66;
}

.mentor-container h1 {
  font-size: 18px;
  padding: 0 0 10px 10px;
}

.mentor-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.mentor-info-container h3 {
  font-size: 18px;
  padding: 10px;
}

.mentor-info-container .flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 5px 10px;
}

.mentor-info-container .flex-row h4 {
  font-size: 16px;
  font-weight: normal;
}

.mentor-info-container .flex-row h4 span {
  padding-right: 10px;
}
