.mentees-container {
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.mentees-container .header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  height: 60px;
  border-bottom: 2px solid #575e66;
}

.mentees-container h1 {
  font-size: 18px;
  padding: 0 0 10px 10px;
}

.mentees-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mentees-info-container .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 7px;
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.mentees-info-container .col.hide {
  display: none;
}

.mentees-info-container .col:last-child {
  border-bottom: 0px solid #fff;
}

.mentees-info-container .col h3 {
  font-size: 16px;
  font-weight: 600;
}

.mentees-info-container .col .flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0;
}

.mentees-info-container .col .flex-row .sub-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0.5;
  padding: 0 10px 0 0;
}

.mentees-info-container .col .flex-row h4 {
  color: #797f86;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.mentees-info-container .col .flex-row h4 span.pt-icon-standard {
  color: #797f86;
  font-size: 12px;
  display: inline;
  padding-right: 2px;
}
