.mentors-list-container {
  max-width: 1050px;
  margin: 20px auto;
}

.mentors-list-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mentors-list-container .report-list-table-header h1 {
  flex: 0.5;
  text-align: left;
  font-size: 26px;
  margin: 0;
}

.mentors-list-season-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  flex: 0.5;
}

.mentors-list-season-container h3 {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0px;
}

.mentors-list td {
  padding: 5px;
}

.mentors-list th.small,
.mentors-list td.small {
  width: 5%;
}

.mentors-list th.large,
.mentors-list td.large {
  width: 19%;
}

.mentors-list .mentor {
  padding-left: 10px;
}

.mentors-list .mentee-add-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.mentors-list .mentee-add-container .comboBoxSearch-container {
  width: 125px;
  height: 30px;
}

.mentors-list .mentee-add-container .comboBoxSearch-container .Select-control,
.mentors-list .mentee-add-container .comboBoxSearch-container .Select-input {
  height: 28px;
}

.mentors-list .mentee-add-container .comboBoxSearch-container .Select-placeholder {
  padding-left: 0;
  top: -3px;
}

.mentee-add-container button.pt-intent-primary,
.mentee-remove-container button.pt-intent-danger {
  width: 30px;
}

.mentors-list .mentee-remove-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
