.mobile-game-umpire-container {
  margin: 0 8px 0 8px;
}

.mobile-game-umpire-innerContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.mobile-game-umpire-innerContainer h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  min-width: 60px;
  padding: 0 !important;
}

.mobile-game-umpire-innerContainer span.ump-name {
  min-width: 215px;
}
