/*.pt-navbar {
   background: #1b5082 !important;
  position: fixed;
  top: 0;
  padding: 0 30px !important;
}

.pt-navbar-heading a {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.pt-navbar-heading span.pt-icon-cloud {
  font-size: 35px;
}

.pt-navbar-heading > a:hover {
  color: #fff;
  text-decoration: none;
} */

.pt-navbar button.pt-button.pt-minimal {
  color: #575e66;
  font-size: 16px;
  font-weight: 700;
}

/* nav > .pt-navbar-group > .pt-button {
  padding: 0 10px !important;
}

.pt-navbar-group.pt-align-right .pt-button {
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin: 0px 10px !important;
}

.pt-navbar-group .pt-button[class*='pt-icon-']::before {
  color: #fff !important;
  font-size: 20px !important;
}

.pt-navbar-group button span.pt-icon-standard {
  color: #fff !important;
  font-size: inherit !important;
}

button.pt-menu-item > a {
  color: #182026;
}

button.pt-menu-item > a:hover {
  color: #ffffff;
  text-decoration: none;
}

button.pt-menu-item:hover > a {
  color: #ffffff;
}

span.pt-navbar-divider {
  border-left: 1px solid #fff !important;
} */
