@media (min-width: 800px) {
  .reset-password-container {
    padding: 20px;
    margin: 5% 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 799px) and (min-width: 500px) {
  .reset-password-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 499px) {
  .reset-password-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    padding-top: 0px !important;
  }
}

.register-header h1,
p {
  color: inherit;
}

.register-header h1 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0px;
}

.register-header p {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  text-align: left;
}

.form-container {
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 350px;
  width: 500px;
  padding: 40px 40px 20px 40px;
}

.login-inputs {
  border-style: none none solid none;
  width: 100%;
  height: 50px;
}

.register-error {
  min-height: 40px;
  padding: 5px 0px;
}

.register-error p {
  color: #db3737;
  font-size: 16px;
  font-weight: bolder;
}

.submit-btn-container-blue {
  margin-top: 0px;
  margin-bottom: 20px;
}

.submit-button-blue {
  background-color: #216296;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0px solid #1c0000;
}

.login-footer {
  height: 30px;
  width: 100%;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}

.login-footer a {
  text-align: center;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  color: #999999;
}
