.players-list-container {
  max-width: 1050px;
  margin: 20px auto;
}

.players-list-container .report-list-table-header h1 {
  font-size: 26px;
  margin-bottom: 0;
}

.players-list th.large,
.players-list td.large {
  width: 20%;
}

.players-list th.small,
.players-list td.small {
  width: 14%;
}
