.profile-container {
  min-width: 300px;
  max-width: 500px;
  margin: 20px auto;
}

.profile-container.hide {
  display: none;
}

.profile-container .card {
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
}

.profile-container .header {
  height: 60px;
  border-bottom: 2px solid #575e66;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.profile-container .header h1 {
  font-size: 18px;
  padding: 0 0 10px 10px;
  text-align: left;
  flex: 0.5;
}

.profile-container .header .btn-container {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.profile-container .header .btn-container button.pt-button[class*='pt-icon-']::before {
  color: #575e66;
}

.contact-info-container {
  padding: 10px;
}

.contact-info-container h3 {
  font-size: 20px;
}

.contact-info-container .phone-email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.phone-email-container h4 {
  font-size: 16px;
  padding: 5px 10px;
}

.phone-email-container h4 span.pt-icon-standard {
  padding-right: 10px;
  font-size: 14px;
}

.volunteer-container {
  padding: 10px 0;
}

.volunteer-container .team-volunteer-row {
  min-height: 75px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.volunteer-container h4 {
  font-size: 18px;
}

.volunteer-container .team-volunteer-row:last-child {
  border-bottom: 0px;
}

.volunteer-container .team-volunteer-row label {
  min-height: 73px;
}

.volunteer-container .team-volunteer-row label.team-name input.pt-input {
  margin-top: 10px;
}

.team-volunteer-row .team-volunteer-btn-container {
  padding: 15px 15px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.team-volunteer-row .team-volunteer-btn-container span:hover {
  cursor: move;
}

.coaching-container h4 {
  font-size: 18px;
}

h4.no-coach-teams {
  padding: 10px 0 20px 0;
}

.coaching-container .coach-team {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 25px;
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.coach-team-details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.coaching-container .coach-team:last-child {
  border-bottom: 0px;
}

.coaching-container .coach-team h5 {
  color: hsla(212, 8%, 37%, 0.75);
  font-size: 16px;
  padding: 0 10px 0 25px;
}

.coach-team .team-coach-btn-container span:hover {
  cursor: move;
}

.pt-dialog.profile-dialog {
  min-width: 250px !important;
  max-width: 350px !important;
}
.dialog-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 10px 0px 10px;
}

.dialog-btn-container .pt-button.pt-intent-primary {
  width: 90px;
}

@media (max-width: 499px) {
  .user-profile-container {
    margin-top: 70px;
  }
}
