.report-filter {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
}

.table-filters-container {
	margin: 0 6px;
}

.prevent-wrapping {
  overflow-wrap: break-word;
}
/* General */

/* Start of team report */
div.team-report-container {
  max-width: 1060px;
  margin: 20px auto 20px auto;
}

.team-report-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.team-report-container .report-list-table-header h1 {
  flex: 0.5;
  text-align: left;
  font-size: 26px;
  margin: 0;
}

.team-report-container .report-list-table-header .team-report-division-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  flex: 0.5;
}

.team-report-division-container h3 {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0px;
}

.team-report-division-container select.pt-select {
  height: 26px;
}

.team-report thead tr,
.team-report tbody tr {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin: 0 !important;
	padding: 0 !important;
	font: center;
  vertical-align: middle;
  width: 100%;
}

.team-report th.large,
.team-report td.large {
  width: 16%;
}

.team-report th.small,
.team-report td.small {
  width: 14%;
}

.team-report th.xsmall,
.team-report td.xsmall {
  width: 10%;
}

.team-report th button.table-sort {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.team-report th button.table-sort:hover {
  color: #fff;
  background: #949caf;
}

.team-report th button.table-sort span.pt-icon-standard.pt-icon-sort {
  color: #fff;
  font-size: 12px;
  margin: 0px;
  padding-left: 3px;
}

/* End of team report */

/* Start of umpire report */

div.umpire-report-container {
  max-width: 1060px;
  margin: 20px auto 20px auto;
}

.umpire-report-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.umpire-report-container .report-list-table-header h1 {
  flex: 0.5;
  text-align: left;
  font-size: 26px;
  margin: 0;
}

.umpire-report-container .report-list-table-header .umpire-report-division-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  flex: 0.5;
}

.umpire-report-division-container h3 {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0px;
}

.umpire-report-division-container select.pt-select {
  height: 26px;
}

.umpire-report thead tr {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin: 0 !important;
	padding: 0 !important;
}

.umpire-report tbody tr {
	display: flex;
	flex-direction: row;
	align-content: baseline;
	justify-content: space-between;
	margin: 0 !important;
	padding: 0 !important;
}

.umpire-report th.large,
.umpire-report td.large {
  width: 14%;
}

.umpire-report th.small,
.umpire-report td.small {
  width: 14%;
  min-width: 40px !important;
}

.umpire-report th.xsmall,
.umpire-report td.xsmall {
  width: 8%;
  min-width: 40px !important;
}

.umpire-report th button.table-sort {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.umpire-report th button.table-sort:hover {
  color: #fff;
  background: #949caf;
}

.umpire-report th button.table-sort span.pt-icon-standard.pt-icon-sort {
  color: #fff;
  font-size: 12px;
  margin: 0px;
  padding-left: 3px;
}

/* End of umpire report */

/* Start of volunteer report */

div.volunteer-report-container {
  max-width: 1060px;
  margin: 20px auto 20px auto;
}

.volunteer-report-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.volunteer-report-container .report-list-table-header h1 {
  flex: 0.5;
  text-align: left;
  font-size: 26px;
  margin: 0;
}

.volunteer-report-container .report-list-table-header .volunteer-report-division-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  flex: 0.5;
}

.volunteer-report-division-container h3 {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0px;
}

.volunteer-report-division-container select.pt-select {
  height: 26px;
}

.volunteer-report thead tr,
.volunteer-report tbody tr {
	display: flex;
	flex-direction: row;
	align-content: baseline;
	justify-content: space-between;
	margin: 0 !important;
	padding: 0 !important;
}

.volunteer-report th.large,
.volunteer-report td.large {
  width: 14%;
}

.volunteer-report th.small,
.volunteer-report td.small {
  width: 14%;
}

.volunteer-report th.xsmall,
.volunteer-report td.xsmall {
  width: 8%;
}

.volunteer-report th button.table-sort {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.volunteer-report th button.table-sort:hover {
  color: #fff;
  background: #949caf;
}

.volunteer-report th button.table-sort span.pt-icon-standard.pt-icon-sort {
  color: #fff;
  font-size: 12px;
  margin: 0px;
  padding-left: 3px;
}

/* End of volunteer report */

/* Start of YTD report */

div.ytd-report-container {
  max-width: 1060px;
  margin: 20px auto 20px auto;
}

.ytd-report-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ytd-report-container .report-list-table-header h1 {
  flex: 0.5;
  text-align: left;
  font-size: 26px;
  margin: 0;
}

.ytd-report thead tr {
	display: flex;
	flex-direction: row;
	align-content: baseline;
	justify-content: space-around;
	margin: 0 !important;
	padding: 0 !important;
}

.ytd-report tbody tr {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-between;
	margin: 0 !important;
	padding: 0 !important;
}

.ytd-report th.large,
.ytd-report td.large {
  width: 18%;
}

.ytd-report th.small,
.ytd-report td.small {
  width: 12%;
}

.ytd-report th.xsmall,
.ytd-report td.xsmall {
  width: 6%;
}

.ytd-report th button.table-sort {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.ytd-report th button.table-sort:hover {
  color: #fff;
  background: #949caf;
}

.ytd-report th button.table-sort span.pt-icon-standard.pt-icon-sort {
  color: #fff;
  font-size: 12px;
  margin: 0px;
  padding-left: 3px;
}

/* End of YTD report */