.reset-link-container {
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 40px 20px 20px 20px;
  width: 500px;
  min-height: 350px;
}

.reset-link-header h1 {
  color: inherit;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0px;
}

.reset-link-header p {
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px 20px 10px;
  text-align: left;
}

.reset-link-input {
  padding: 10px 0px;
}

.login-inputs {
  border-style: none none solid none;
  width: 100%;
  height: 50px;
}

.reset-link-input input {
  max-width: 300px;
  min-width: 200px;
}

.reset-link-error {
  min-height: 40px;
  padding: 5px 0px;
}

.reset-link-error p {
  color: #db3737;
  font-size: 16px;
  font-weight: bolder;
}

.reset-link-buttons {
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.reset-link-backToLogin a {
  font-size: 16px;
  font-weight: 600;
}
