.selected-game-container {
  height: 100%;
  margin-top: 20%;
}

.selected-game-container-header {
  width: 100%;
  min-height: 30px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  border-bottom: 2px solid #575e66;
}

.selected-game-container-body {
  height: 100%;
}

.selected-game-container-body .row {
  padding: 10px !important;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #10161a26;
  background-color: #ffffff;
}

.selected-game-container .row h3 {
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}

.back-to-games-button {
  margin: 4px;
  padding: 6px;
  min-height: 80px;
  min-width:  120px;
  font-size: 18px;
}

.row-game-details{
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #ffffff;
  min-height: 35px;
  min-width:  50px;
  /* width: 100%; */
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #10161a26;
}