.table-sort-popover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.table-sort-popover-container button {
  padding: 5px;
}
