div.umpires-list-container {
  max-width: 1060px;
  margin: 20px auto 20px auto;
}

.umpires-list-container .report-list-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.umpires-list-container .report-list-table-header h1 {
  flex: 0.5;
  text-align: left;
  font-size: 26px;
  margin: 0;
}

.umpires-list-container .report-list-table-header .umpires-list-season-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  flex: 0.5;
}

.umpires-list-season-container h3 {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0px;
}

.umpires-list-season-container select.pt-select {
  height: 26px;
}

.umpires-list th.large,
.umpires-list td.large {
  width: 15%;
}

.umpires-list th.small,
.umpires-list td.small {
  width: 10%;
}

.umpires-list th button.table-sort {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.umpires-list th button.table-sort:hover {
  color: #fff;
  background: #949caf;
}

.umpires-list th button.table-sort span.pt-icon-standard.pt-icon-sort {
  color: #fff;
  font-size: 12px;
  margin: 0px;
  padding-left: 3px;
}
