.user-statistics-container-main { 
	padding: 0;
	margin: 10px;
	width: 364px;
	float: left;
	height: 265px;
}

.user-statistics-container-main .user-statistics-header{
	min-height: 60px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-pack: start;
	justify-content: space-between;
	margin: 0;
	border-bottom: 2px solid #575e66;
}

.user-statistics-container-main .user-statistics-header h1 {
	line-height: 1em;
	margin: 0 0 8px 0;
	font-size: 16px;
	padding: 0 0 10px 10px;
}


.user-statistics-container-secondary {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	min-height: 265px;
	width: 100%;
	padding: 0;
}  

.user-statistics-body {
	padding: 0 0 0 0px;
}

.user-statistics-list {
	margin: 6px !important;
	padding: 0px;
}

.user-statistic {
	box-sizing: border-box;
	padding: 2px;
	width: 100px;
	border: 1px solid #cecece;
	text-align: center;
	float: left;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: baseline;
	margin: 4px 6px 4px 10px;
	min-height: 85px;
	min-width: 100px;
}

.user-statistic-title {
	margin: 0;
	padding: 2px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.0em;
	min-height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.user-statistic-content {
	margin: 0;
	padding: 2px 0 2px 0;
	font-size: 16px;
	font-weight: 300;
}