.pt-popover-content {
  height: 100%;
}

.pt-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pt-menu li:last-of-type {
  margin-bottom: 10px;
}

.pt-menu li:not([class='.pt-menu-divider']) {
  border: none;
}

.pt-menu.report-menu li {
  width: 120px;
}

.pt-menu.report-menu .pt-menu-item {
  text-overflow: inherit;
  font-weight: 800;
}
