/*@media (min-width: 800px) {*/
.Weather-Widget-container-main {
  padding: 0px;
  margin: 10px;
  width: 364px;
  float: left;
}

.Weather-Widget-container-main .report-list-table-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid #575e66;
}

.Weather-Widget-container-main .report-list-table-header h1 {
  font-size: 22px;
}

.Weather-Widget-container-secondary {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 265px;
  width: 100%;
  padding: 0;
}
/*}*/
/*@media (max-width: 799px) and (min-width: 500px) {
  .Weather-Widget-container-main {
    padding: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 499px) {
  .Weather-Widget-container-main {
    padding: 10px 0px 0px 0px;
    margin-top: 30px;
  }
  body {
    padding-top: 0px !important;
  }
}*/

.weather-widget-header {
  min-height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: start;
  justify-content: space-between;

  margin: 0;
  border-bottom: 2px solid #575e66;
}

.weather-widget-header h1 {
  font-size: 16px;
  padding: 0 0 10px 10px;
}

#weather-card {
  padding: 0 0 0 8px;
}

.weather-cards {
  list-style-type: none;
  margin: 0px !important;
  padding: 0px;
}

.weather-cards h5 {
  color: #575e66;
  padding-top: 10px;
}

.weather-icon {
  height: 50px;
  width: 60px;
}

li {
  box-sizing: border-box;
  padding: 2px;
  width: 100px;
  border: 1px solid #cecece;
  text-align: center;
  float: left;
  display: block;
  margin: 10px 8px 0 8px;
}

#current-weather {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

#current-weather-image {
  width: 40px;
  height: 40px;
  margin: 0 4px 0 10px;
  padding: 0;
}

#current-weather-data {
  padding: 0px 0 0 0;
  margin: 0 10px 0 10px;
}

#current-weather-data p {
  padding: 0;
  margin: 0 0px 0 0px;
}

#condition {
  white-space: nowrap;
}

.space {
  width: 400px;
  height: 100px;
}

.degree {
  font-size: 36px;
}

.sign-in-header h2 {
  color: #333333;
}

.contact-form-container {
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 350px;
  width: 500px;
  padding: 80px 10px 20px 10px;
}

.login-header {
  padding-bottom: 40px;
}

.login-inputs {
  border-style: none none solid none;
  width: 100%;
  height: 50px;
}

.login-error {
  min-height: 40px;
  padding: 5px 0px;
}

.login-error p {
  color: #db3737;
  font-size: 16px;
  font-weight: bolder;
}

.submit-btn-container {
  padding: 20px 0px;
}

.submit-button-blue {
  background-color: #216296;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0px solid #1c0000;
}
.login-links {
  width: 100%;
  height: 40px;
}
.login-forgot-password a {
  float: left;
  font-weight: 600;
  color: #999999;
}
.login-create-account a {
  float: right;
  font-weight: 600;
  color: #999999;
}

.login-footer {
  height: 30px;
  width: 100%;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}

.login-footer a {
  text-align: center;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  color: #999999;
}

.contact-row {
  background-color: #ffffff;
  min-height: 40px;
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin: 0px 0px 10px 0px;
  border: solid black 1px;
  border-style: none none solid none;
}

.contact-row-profile-page {
  background-color: #ffffff;
  min-height: 60px;
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin: 0px 0px 10px 0px;
  border: solid black 1px;
  border-style: none none solid none;
}
