.selections label.pt-label {
  color: #fff;
  font-size: 18px;
}

.select-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 0px 0px 35px;
}

.selections label.pt-label.pt-inline select.pt-select {
  color: black;
  min-width: 100px;
  vertical-align: baseline;
}

.selections h4 {
  color: white;
  margin-bottom: 20px;
}
.welcome-login-header {
  margin: 0px 0px 40px 0px;
  padding-top: 40px;
}

.submit-btn-container {
  padding: 15px 0px;
}

.submit-button-white {
  background-color: white;
  color: #515b77;
  font-size: 18px;
  min-width: 200px;
  height: 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0px solid #1c0000;
}

@media (min-width: 800px) {
  .welcome-container {
    padding: 20px;
    margin: 5% 30%;
    /* display: flex;
                  align-items: center;
                  justify-content: center; */
  }
  .welcome-container-home {
    background-color: #949caf;
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    min-height: 250px;
    width: 100%;
    padding: 0px 0px 20px 0px;
  }
}
@media (max-width: 799px) and (min-width: 500px) {
  .welcome-container {
    padding: 0px;
    margin-top: 0px;
    /* display: flex;
                  align-items: center;
                  justify-content: center; */
  }
  .welcome-container-home {
    background-color: #949caf;
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    min-height: 250px;
    width: 100%;
    padding: 0px 0px 20px 0px;
  }

  .selections label.pt-label {
    color: #fff;
    font-size: 18px;
  }

  .select-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0px 0px 35px;
  }

  .selections label.pt-label.pt-inline select.pt-select {
    color: black;
    min-width: 100px;
    vertical-align: baseline;
  }

  .selections h4 {
    color: white;
    margin-bottom: 20px;
  }
}

@media (max-width: 499px) {
  .welcome-container {
    padding: 10px 0px 0px 0px;
    margin-top: 40px;
    /*display: flex;
                  align-items: center;
                  justify-content: center; */
  }
  body {
    padding-top: 0px !important;
  }
  .welcome-container-home {
    background-color: #949caf;
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    min-height: 250px;
    width: 100%;
    padding: 0px 0px 20px 0px;
  }

  .selections label.pt-label {
    color: #fff;
    font-size: 18px;
  }

  .select-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0px 0px 35px;
  }

  .selections label.pt-label.pt-inline select.pt-select {
    color: #fff;
    min-width: 100px;
    vertical-align: baseline;
  }

  .selections h4 {
    color: white;
    margin-bottom: 20px;
  }
}
